.pharmacist-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pharmacist-login-container1 {
  top: 3px;
  flex: 0 0 auto;
  width: 900px;
  height: 86px;
  display: flex;
  z-index: 10000;
  position: absolute;
  align-items: flex-start;
}
.pharmacist-login-container2 {
  width: 100%;
  height: 701px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.pharmacist-login-text {
  color: rgba(0, 105, 255, 1);
  right: 221px;
  bottom: 40px;
  height: auto;
  z-index: 1000;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.pharmacist-login-textinput {
  top: 423px;
  right: 117px;
  width: 346px;
  height: 50px;
  z-index: 1000;
  position: absolute;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius2);
}
.pharmacist-login-navlink {
  color: rgb(255, 255, 255);
  right: 317px;
  width: 118.2px;
  bottom: 68px;
  height: 58.67px;
  z-index: 1000;
  position: absolute;
  font-size: 26px;
  transition: 0.3s;
  font-family: "Poppins";
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #336818;
}
.pharmacist-login-navlink:hover {
  color: #336818;
  background-color: #fffffe;
}
.pharmacist-login-textinput1 {
  top: 499px;
  right: 117px;
  width: 346px;
  height: 50px;
  z-index: 1000;
  position: absolute;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius2);
}
.pharmacist-login-navlink1 {
  color: #336818;
  right: 119px;
  width: 165.65px;
  bottom: 68px;
  height: 58.67px;
  z-index: 1000;
  position: absolute;
  font-size: 26px;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 800;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.pharmacist-login-navlink1:hover {
  color: #ffffff;
  background-color: #336818;
}
.pharmacist-login-text02 {
  top: 125px;
  color: #ffffff;
  right: 87px;
  width: 732px;
  position: absolute;
  font-size: 54px;
  font-family: "Poppins";
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.pharmacist-login-navlink2 {
  display: contents;
}
.pharmacist-login-layer3 {
  right: 650px;
  width: 139px;
  bottom: 3px;
  height: 118px;
  z-index: 10000;
  position: absolute;
  transition: 0.3s;
  animation-name: bounce;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 2;
  animation-timing-function: ease;
}
.pharmacist-login-layer3:hover {
  width: 170px;
  height: 138px;
}
.pharmacist-login-messagesent-component-layout-max {
  right: 798px;
  width: 200px;
  bottom: 41px;
  height: var(--dl-size-size-small);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 75px 75px 0;
  flex-direction: column;
  background-color: #9bcf53;
}
.pharmacist-login-timestampcontainer {
  gap: 10px;
  top: 12px;
  left: 16px;
  display: flex;
  padding: 5px 0 0;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
}
.pharmacist-login-rectangle3 {
  right: 85px;
  width: 411px;
  bottom: 31px;
  height: 300px;
  margin: auto;
  z-index: 50;
  position: absolute;
  border-radius: 35px;
}
.pharmacist-login-text08 {
  top: 376px;
  color: rgb(51, 104, 24);
  right: 131px;
  width: 301px;
  height: 35px;
  z-index: 1000;
  position: absolute;
}
.pharmacist-login-navlink3 {
  display: contents;
}
.pharmacist-login-rectangle14 {
  top: 273px;
  right: 164px;
  width: 127px;
  height: 68px;
  position: absolute;
  box-sizing: content-box;
  transition: 0.3s;
  border-color: #003a51;
  border-style: solid;
  border-width: 7px;
  border-radius: 0 60px 60px 0;
  text-decoration: none;
}
.pharmacist-login-rectangle14:hover {
  border-color: #bfea7c;
}
.pharmacist-login-navlink4 {
  display: contents;
}
.pharmacist-login-rectangle13 {
  top: 273px;
  right: 300px;
  width: 127px;
  height: 68px;
  z-index: 1000;
  position: absolute;
  box-sizing: content-box;
  transition: 0.3s;
  border-color: #bfea7c;
  border-style: solid;
  border-width: 7px;
  border-radius: 60px 0 0 60px;
  text-decoration: none;
}
.pharmacist-login-rectangle13:hover {
  border-color: #003555;
}
.pharmacist-login-text09 {
  top: 296px;
  color: rgba(0, 69, 90, 1);
  right: 176px;
  height: auto;
  z-index: 10000;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-text11 {
  top: 297px;
  color: rgba(0, 69, 90, 1);
  right: 338px;
  height: auto;
  z-index: 10000;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pharmacist-login-container3 {
  width: 100%;
  height: 1003px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #bfea7c;
}
.pharmacist-login-group28 {
  right: 200px;
  width: 994px;
  bottom: -22px;
  height: 347px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.pharmacist-login-frame4 {
  gap: 10px;
  top: -37px;
  left: 371px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.pharmacist-login-text13 {
  color: rgba(0, 69, 90, 1);
  height: auto;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-group27 {
  top: 131px;
  left: 0px;
  width: 828px;
  height: 214px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.pharmacist-login-frame1 {
  gap: 150px;
  top: -69px;
  flex: 1;
  left: 9px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.pharmacist-login-navlink5 {
  display: contents;
}
.pharmacist-login-layer1 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  text-decoration: none;
}
.pharmacist-login-navlink6 {
  display: contents;
}
.pharmacist-login-layer11 {
  width: var(--dl-size-size-xxlarge);
  height: 180px;
  text-decoration: none;
}
.pharmacist-login-navlink7 {
  display: contents;
}
.pharmacist-login-layer12 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xlarge);
  text-decoration: none;
}
.pharmacist-login-frame84 {
  gap: 200px;
  right: -134px;
  width: 919px;
  bottom: 11px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.pharmacist-login-text15 {
  color: rgb(0, 69, 90);
  width: 200px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-text19 {
  color: rgb(0, 69, 90);
  width: 200px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-text23 {
  color: rgb(0, 69, 90);
  width: 200px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-text24 {
  top: 270px;
  right: 233px;
  position: absolute;
  font-size: 25px;
  font-family: "Poppins";
}
.pharmacist-login-pasted-image {
  top: 173px;
  right: 700px;
  width: 500px;
  height: 360px;
  position: absolute;
  border-radius: 50px;
}
.pharmacist-login-messagesent-component-layout-max1 {
  top: 3px;
  right: 829px;
  width: 150px;
  height: 30px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  flex-shrink: 0;
  border-radius: 75px 75px 0;
  flex-direction: column;
  background-color: #9bcf53;
}
.pharmacist-login-timestampcontainer1 {
  gap: 10px;
  top: 12px;
  left: 16px;
  display: flex;
  padding: 5px 0 0;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: flex-end;
}
.pharmacist-login-text40 {
  top: 2px;
  color: rgba(0, 0, 0, 1);
  right: 810px;
  width: 127px;
  height: auto;
  z-index: 10000;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Lexend Deca;
  font-weight: 800;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-group24 {
  top: 75px;
  right: 125px;
  width: 259px;
  height: 97px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 20px;
  background-color: #ffffff;
}
.pharmacist-login-text42 {
  top: 5px;
  left: 17px;
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.pharmacist-login-text43 {
  color: #bfea7c;
}
.pharmacist-login-text44 {
  color: #000000;
}
.pharmacist-login-text45 {
  color: #000000;
}
.pharmacist-login-text46 {
  color: #bfea7c;
}
.pharmacist-login-text47 {
  color: #0188b1;
}
.pharmacist-login-image6 {
  top: 73px;
  right: 144px;
  width: 83px;
  height: 97px;
  position: absolute;
}
.pharmacist-login-container4 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #bfea7c;
}
.pharmacist-login-tk {
  gap: 2px;
  width: 53px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.pharmacist-login-pagecontrol {
  gap: 11.830625534057617px;
  right: -510px;
  bottom: -202px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.pharmacist-login-dot {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pharmacist-login-tickcarousel {
  width: 12px;
  height: 12px;
}
.pharmacist-login-dot1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pharmacist-login-tickcarousel1 {
  width: 9px;
  height: 9px;
}
.pharmacist-login-dot2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pharmacist-login-tickcarousel2 {
  width: 9px;
  height: 9px;
}
.pharmacist-login-container5 {
  width: 100%;
  height: 222px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #336818;
}
.pharmacist-login-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.pharmacist-login-container6 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.pharmacist-login-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.pharmacist-login-text48 {
  color: #ffffff;
  font-size: 17px;
  margin-left: 0px;
}
.pharmacist-login-text49 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.pharmacist-login-text50 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.pharmacist-login-text51 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.pharmacist-login-text52 {
  color: #ffffff;
  font-size: 17px;
  margin-left: var(--dl-space-space-unit);
}
.pharmacist-login-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.pharmacist-login-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pharmacist-login-text53 {
  color: #ffffff;
}
.pharmacist-login-text54 {
  top: -63px;
  color: #efefef;
  right: 7px;
  position: absolute;
  font-size: 18px;
}
.pharmacist-login-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pharmacist-login-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  z-index: 1000;
  margin-right: var(--dl-space-space-twounits);
}
.pharmacist-login-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  z-index: 1000;
  margin-right: var(--dl-space-space-twounits);
}
.pharmacist-login-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  z-index: 1000;
}
@media(max-width: 991px) {
  .pharmacist-login-container1 {
    top: 3px;
    left: -1px;
  }
  .pharmacist-login-group28 {
    left: -1px;
    bottom: -30px;
  }
  .pharmacist-login-text24 {
    top: 241px;
    right: 64px;
  }
  .pharmacist-login-pasted-image {
    top: 153px;
    right: 508px;
    width: 388px;
    height: 339px;
  }
}
@media(max-width: 767px) {
  .pharmacist-login-text02 {
    top: 25px;
    right: -52px;
    width: 642px;
    font-size: 45px;
  }
  .pharmacist-login-layer3 {
    left: 97px;
    bottom: 4px;
  }
  .pharmacist-login-group28 {
    left: -108px;
    bottom: -16px;
    margin-right: 0px;
  }
  .pharmacist-login-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pharmacist-login-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pharmacist-login-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pharmacist-login-text53 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pharmacist-login-text54 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .pharmacist-login-container1 {
    width: 44px;
    margin-right: 0px;
  }
  .pharmacist-login-text {
    left: 121px;
    bottom: 55px;
  }
  .pharmacist-login-textinput {
    top: 413px;
    left: 17px;
  }
  .pharmacist-login-navlink {
    left: 45px;
    color: rgb(255, 255, 255);
    bottom: 78px;
    font-size: 26px;
    font-family: Poppins;
    text-decoration: none;
    background-color: rgb(51, 104, 24);
  }
  .pharmacist-login-textinput1 {
    top: 489px;
    left: 17px;
  }
  .pharmacist-login-navlink1 {
    left: 170px;
    bottom: 80px;
  }
  .pharmacist-login-text02 {
    top: 66px;
    left: 174px;
    font-size: 15px;
  }
  .pharmacist-login-layer3 {
    left: -5px;
    bottom: -93px;
  }
  .pharmacist-login-rectangle3 {
    left: -16px;
    bottom: 41px;
  }
  .pharmacist-login-text08 {
    top: 366px;
    left: 48px;
  }
  .pharmacist-login-rectangle14 {
    top: 273px;
    left: 199px;
  }
  .pharmacist-login-rectangle13 {
    top: 271px;
    left: 57px;
  }
  .pharmacist-login-text09 {
    top: 296px;
    left: 209px;
  }
  .pharmacist-login-text11 {
    top: 295px;
    left: 109px;
  }
  .pharmacist-login-group28 {
    left: -320px;
    bottom: -4px;
  }
  .pharmacist-login-text24 {
    top: 366px;
    right: 21px;
    font-size: 20px;
  }
  .pharmacist-login-pasted-image {
    width: 271px;
    height: 238px;
  }
  .pharmacist-login-group24 {
    top: 96px;
    left: 142px;
    padding-right: 0px;
  }
  .pharmacist-login-image6 {
    top: 87px;
    left: 299px;
  }
  .pharmacist-login-footer {
    padding: var(--dl-space-space-unit);
  }
  .pharmacist-login-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pharmacist-login-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pharmacist-login-text53 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pharmacist-login-text54 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
