.navigation-links1412-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 1071px;
  height: 25px;
  display: flex;
  flex-direction: row;
}
.navigation-links1412-navlink {
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
.navigation-links1412-navlink1 {
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1412-navlink2 {
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1412-navlink3 {
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1412-navlink4 {
  color: #ffffff;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 767px) {
  .navigation-links1412-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1412-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1412-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1412-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1412-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1412-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
